<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
<header>

    <div class="logo">
        <img src="C:\Users\USER 1\Downloads\phonecart.png" alt="phonecart">
        <h3>Online Phone Shopping</h3>
       </div>

       <nav>
    <ul>
        <li><a href="">Category</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
       </nav>

       <div class="searh-bar">
        <input type="text" placeholder="search"> &nbsp;&nbsp;&nbsp;&nbsp;
        <button>search</button>
    </div>

    <div class="auth-options">
        <a href="">Forget Password</a>
        <a href="">Register</a>
        <a href="">Login</a>
    </div>


</header>
       
    </body>

</html>